<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- MENU GỐC -->
    <menuitem
        id="menu_quan_ly_khach_hang_root"
        name="Quản lý khách hàng"
        sequence="0"/>

    <!-- KHÁCH HÀNG -->
    <menuitem 
        id="menu_khach_hang"
        name="Khách hàng"
        parent="menu_quan_ly_khach_hang_root"
        sequence="1"
        action="action_khach_hang"/>

    <!-- MENU TƯƠNG TÁC (CHA - KHÔNG ACTION) -->
    <menuitem 
        id="menu_tuong_tac_root"
        name="Tương tác"
        parent="menu_quan_ly_khach_hang_root"
        sequence="2"/>

    <!-- GỌI ĐIỆN -->
    <menuitem 
        id="menu_goi_dien"
        name="Gọi điện"
        parent="menu_tuong_tac_root"
        sequence="1"
        action="action_goi_dien"/>

    <!-- LỊCH HẸN -->
    <menuitem 
        id="menu_lich_hen"
        name="Lịch hẹn"
        parent="menu_tuong_tac_root"
        sequence="2"
        action="action_lich_hen"/>
        
    <!-- BÁO GIÁ -->
    <menuitem 
        id="menu_bao_gia"
        name="Báo giá"
        parent="menu_tuong_tac_root"
        sequence="3"
        action="action_bao_gia"/>
</odoo>